<div class="container">
  <div class="row ">
    <div class="main col-6 offset-3">
      <h1 mat-dialog-title>Edit Recipe</h1>
      <div mat-dialog-content>
        <p>
          <mat-form-field appearance="legacy">
            <mat-label>Legacy form field</mat-label>
            <input matInput placeholder="Placeholder" [(ngModel)]="data.name">
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
        </p>
      <h4>Ingredients</h4>
        <ul *ngFor="let item of data.ingredients; let i = index">
          <li>
            <mat-form-field appearance="legacy">
              <mat-label>Legacy form field</mat-label>
              <input matInput placeholder="Placeholder" [(ngModel)]="data.ingredients[i]">
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
      </li>
        </ul>
      </div>

      <div mat-dialog-actions>
        <button mat-button mat-dialog-close>Close</button>
        <button mat-button color="primary" (click)="save()">Save</button>
      </div>

    </div>

  </div>

</div>
