
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">FoodHappy</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a routerLink="home">Home</a></li>
          <li><a routerLink="ingredients">Ingredients</a></li>
          <li><a routerLink="recipes">Recipe Search</a></li>
          <li><a routerLink="items">My Recipes</a></li>
          <li><a routerLink="signin">Sign In</a></li>
          <li><a routerLink="register">Register</a></li>

        </ul>
      </div>
    </nav>
    
    <router-outlet></router-outlet>

