<div class="bg-image" 
     style="background-image: url('https://media.istockphoto.com/photos/refrigerator-on-tiled-floor-blue-wall-background-copy-space-3d-picture-id1056779410?k=20&m=1056779410&s=170667a&w=0&h=e2cv3yFxrnXTIkrP8KVAryMHm1_sJUi-Ra64BM_-tB8=');
            height: 100vh">
<h1>My Fridge</h1>


<div>
  <form (ngSubmit)="addBook()">
    <div class='form-group'>
      <label for="title">Ingredient Name</label>
      <input type="text" class="form-control" placeholder="Enter Ingredient"
      id="title" required
      [(ngModel)]="titleValue" name="title">
    </div>
    <div class='form-group'>
      <label for="quantity">Quantity</label>
      <input type="text" class="form-control" placeholder="Enter quantity"
      id="quantity" required
      [(ngModel)]="quantityValue" name="quantity">

      <li *ngFor="let book of MyBooks">
        <button type="button" class="btn" (click)="deleteBook(book.id)">Delete Ingredient</button>
        <button type="button" class="btn" routerLink="/recipes" [queryParams]="{prop: book.title}">Find Recipe</button>
        {{book.title}} -  x{{book.quantity}}
      </li>

    </div>
    <div class="btn-group">
      <button type="submit" class="btn btn-success">Success</button>
    </div>
  </form>
</div>
</div>